.tvfs-switch-full-screen:before {
  content: '\2191';
}
.tvfs-full-screen {
  position: fixed;
  z-index: 666;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tvfs-full-screen .tvfs-switch-full-screen:before {
  content: '\2193';
}
